.App {
  text-align: center;
  background-color: black;
  width: 100%;
  min-height: 100vh;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.border{
  width: 320px;
  background-color: rgb(36, 36, 36);
  border: 0;
  height: 2px;
}

